/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mar-2017, 9.43.51
    Author     : tss
*/

#header{
 width: 800px;
 height: 70px;
 border: 1px solid black;
 position: absolute;
 left: 50%;
 margin-left: -400px;
 border-radius: 20px  20px 0px 0px;
}

#pepeL{
    position: absolute;
    left: 30px;
    top: 5px;
    background-repeat: no-repeat;
    
    width: 60px;
    height: 60px;
    
}

#pepeR{
    position: absolute;
    right: 30px;
    top: 5px;
    background-repeat: no-repeat;
    
    width: 60px;
    height: 60px;
    transform: rotateY(180deg)
    
}
/*#logreg {
    
    position: absolute;
    right: 5px;
    top: 38%
}*/

#titolo{
    
    font-size: larger;
    font-style: italic;
    width: 400px;
    height: 20px;
    margin: 0 auto;
    margin-top: 24px;
}


/*----inizio main div----*/

#maindiv{
    width: 800px;
    height: 400px;
    position: absolute;
    border: 1px solid black;
    
    top: 90px;
    left: 50%;
    margin-left: -400px;
}

#testo {
    margin-top: 61px;
    margin-left: 30px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 390px;
    font-size: small;
    padding: 5px;
}
#title {
    font-size: large;
    font-style: italic
}

#login{
    position: absolute;
    border: 1px solid black;
    
    width: 200px;
    height: 75px;
    background-color: appworkspace;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    line-height: 75px;
        color: inherit;
    right: 90px;
    text-decoration:none;
    top: 55px;
    
}

#registrazione{
    position: absolute;
    border: 1px solid black;
    
    width: 200px;
    height: 75px;
    background-color: appworkspace;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    line-height: 75px;
    color: black;
    right: 90px;
    text-decoration:none;
    top: 260px;
}

/*--- fpoooter ---*/

#footer{
    border: 1px solid black;
    position: absolute;
    width: 800px;
    height: 20px;
    left: 50%;
    margin-left: -400px;
    top: 501px;
    border-radius: 0px 0px 15px 15px;
}

#left{
    float: left;
    font-size: 10px;
    line-height: 20px;
    margin-left: 30px;
}

