/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-apr-2017, 9.01.30
    Author     : tss
*/


#header{
 width: 800px;
 height: 70px;
 border: 1px solid black;
 position: absolute;
 left: 50%;
 margin-left: -400px;
 border-radius: 20px  20px 0px 0px;
}


#titolo{
    
    font-size: larger;
    font-style: italic;
    width: 390px;
    height: 20px;
    margin: 0 auto;
    margin-top: 24px;
}


#maindiv{
    width: 800px;
    height: 400px;
    position: absolute;
    border: 1px solid black;
    
    top: 90px;
    left: 50%;
    margin-left: -400px;
}

#title{
    width: 400px;
    position: absolute;
    left: 50%;
    font-size: 20px;
    margin-left: -128px;
    margin-top: 15px;
}


#container{
    text-align: center
}

#testo {
    margin-top: 61px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    font-size: small;
    padding: 5px;
    left: 30%;
    margin-left: -200px;
}


#testo2{
    margin-top: 61px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 270px;
    font-size: small;
    padding: 5px;
    left: 30%;
    margin-left: 230px
}

#container2{
    text-align: center
}

#CTitle{
    
    font-size: 15px
}




#footer{
    border: 1px solid black;
    position: absolute;
    width: 800px;
    height: 20px;
    left: 50%;
    margin-left: -400px;
    top: 501px;
    border-radius: 0px 0px 15px 15px;
}

#left{
    float: left;
    font-size: 10px;
    line-height: 20px;
    margin-left: 30px;
}
